.clear-holder{
    position:relative;
    float:left;
    width: 100%;
}
.clear-helper{
    margin-top:4px;
    text-align:center;
    position:absolute;
    right:4px;
    height:2rem;
    width:1.5rem;
    cursor: pointer;
    display:none;
    background:#e0e0e0;
    border-radius:2px;
    line-height: 2rem;
}

/* button will be misplaced if input is not inline */
.clear-holder > input {
    display: inline-block;
}