.divider {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.feedrow {
    padding: 0.25rem;
}

.feed-module {
    font-weight: bold;
    font-size: 1.1rem;
}

.feed-notes {
    font-size: 0.8rem;
    padding-left: 1rem;
}

.feed-args {
    font-size: 0.8rem;
    color: #555;
}

.feedrow.on {

}

.feedrow.off {
    background: #ffae00;
}

dd {
    margin-left: 1rem;
}

#args,#notes {
    font-weight: normal;
}