li.recipe {
    padding: 3px;
    border-bottom: 1px solid #e7e7e7;
}

ul.recipes {
    margin-left: 0;
}

ul.recipes li {
    list-style: none;
}


ul.recipes li .controls {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

ul.recipes li:nth-child(even) {
    background-color: #fafafa;
}

ul.recipes li .name { font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
ul.recipes li ul.meta {
    list-style: none;
    margin: 0 0 0.2rem 0.5rem;
    padding: 0;
    line-height: 1.1;
}

ul.meta li.type,
ul.meta li.status,
ul.meta li.time,
ul.meta li.temp {
    display: inline-block; color: #888; font-size: 0.7rem;
}

ul.recipes li .tags {
    font-size: .75rem;
    line-height: 1;
    margin-left: 0.5rem;
}

ul.recipes li .intro {
    color: #888;
    padding-right: 0.2rem;
}

span.ljs-tag {
    display: inline-block;
    padding: .33333rem .5rem;
    margin-right: .3rem;
    border-radius: 0;
    white-space: nowrap;
}