[Desktop Entry]
Type=Application
Exec=/home/pi/startup-bigscreen.sh
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoChromium
Name=AutoChromium
Comment=RasPi autostart for bigscreen web app